<section class="Header ">
    <div class="Navbar">
        <div class="Nav Container ">
            <div class="logo">
                <img src="//www.gonoise.com/cdn/shop/files/Group_4_df1f4045-5a8c-4b00-94bb-a6622f06f7da.png?v=1696847023"
                    alt="noise">
            </div>

            <div class="Nav__links">
                <ul>
                    <li>Products</li>
                    <li>Gift Store</li>
                    <li>Support</li>
                    <li>Blogs</li>
                </ul>
            </div>

            <div class="Nav__links-imp">
                <ul>
                    <li><i class="ri-search-line"></i></li>
                    <li><i class="ri-shopping-bag-line"></i></li>
                    <li><i class="ri-user-line"></i></li>
                </ul>
            </div>
        </div>
    </div>

</section>