<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators">

    <ng-template ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper">
            <img src="{{ image.img }}" alt="Random slide" />
        </div>
        <div class="Banner_text">
            <p>{{ image.name }}</p>
            <h2>{{ image.title }}</h2>
            <h4>{{ image.subTitle }}</h4>
            <ul class="price_button">
                <li class="Price">{{ image.price }}</li>
                <li><s>{{ image.discPrice }}</s></li>
            </ul>
        </div>
    </ng-template>
</ngb-carousel>

<!-- <hr />

<div class="btn-group" role="group" aria-label="Carousel toggle controls">
    <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">
        Toggle navigation arrows
    </button>
    <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators"
        class="btn btn-outline-dark btn-sm">
        Toggle navigation indicators
    </button>
</div> -->

<div class="Product__category">
    <ul>
        <!-- <div *ngFor="let prodImg of productImages">{{prodImg.img}}</div> -->
        <li *ngFor="let prodCategory of categories" [routerLink]="['/collections', prodCategory.name]">
            <div class="category__image">
                <img src="{{ prodCategory.img }}" alt="product Image">
            </div>
            <p>{{ prodCategory.name }}</p>
        </li>
    </ul>
</div>

<div class="home__Product-category">
    <div class="product__list">
        <div *ngFor="let productList of homeProducts" class="product__card">
            <a [routerLink]="['/product', productList.id]">
                <div class="product__image">
                    <img src="{{ productList.imgUrl }}" alt="Product img">
                </div>
            </a>
            <div class="product__details">
                <div class="product__name">
                    <h2>{{ productList.name }}</h2>
                    <p>{{ productList.description }}</p>
                </div>
                <div class="product__price">
                    <div class="P">
                        <p class="price">₹{{ (productList.dicPrice - ((productList.dicPrice * productList.discount) /
                            100)).toFixed(0) }}</p>
                        <div class="dic-discount">
                            <p class="dic__price"><s>₹{{ productList.dicPrice }}</s></p>
                            <p class="discount">{{ productList.discount }}% OFF</p>
                        </div>
                    </div>
                    <button [routerLink]="['/product', productList.id]">
                        GRAB NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>