<!-- header-search-box.component.html -->
<div class="search__box-container">
    <div class="search__bar">
        <i class="ri-search-2-line"></i>
        <input type="search" placeholder="Search" 
               [(ngModel)]="enteredSearchValue"
               (input)="filterProducts()">
    </div>

    <section class="men-sportshoes-category">
        <div class="container">
            <div class="row-boxes" *ngFor="let product of filteredProducts">
                <div class="products-container">
                    <div class="cards" [routerLink]="['/product', product.id]">
                        <img src="{{ product.imgUrl }}" />
                        <h1>{{ product.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>