/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700&family=Lora:wght@400;500;600&family=Nunito+Sans:wght@200;400;500;600;800;900&family=Poppins:ital,wght@0,200;1,100;1,200;1,400;1,800&family=Quicksand:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,700;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.Container {
    width: 100%;
    max-width: 1700px;
}


.product__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product__card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product__image {
    padding: 50px 0;
}

.product__image img {
    max-width: 240px;
}

.product__details {
    background: #fff;
    width: 100%;
}

.product__name {
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product__price {
    padding: 20px;
}

.product__name h2 {
    font-size: 1.5rem;
    font-weight: 700;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product__name p {
    margin: 0;
    font-size: .8rem;
    font-weight: 500;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product__price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.product__price p {
    margin: 0 10px 0 0;

}

.product__price .P {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dic-discount {
    display: flex;
    gap: 10px;
}

.price {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    list-style: none;
}

.dic__price {
    font-size: .9rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
    list-style: none;
    /* margin-right: 10px; */
}

.discount {
    background: #f4e4dd;
    color: #e05608;
    ;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    /* margin-right: 15px; */
}

button {
    margin: 0;
    background: #000;
    padding: 8px 15px;
    font-size: .9rem;
    font-weight: 600;
    color: #fff;
    border-radius: 20px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s ease;
}

button:active {
    scale: .9;
}





@media screen and (max-width:1700px) {
    .Container {
        padding: 0 40px;
    }
}

@media screen and (max-width:970px) {
    .Container {
        padding: 0 20px;
    }
}

