.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.two{
    display: none;
}
.footer__container{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    margin-top: 4rem;
}
.top__footer{
    display: flex;
}
.bottom__footer{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin: 2rem 0;
    text-align: center;
    padding-top: 1rem;
}
.right{
    margin-left: 15rem;
}

.footer__box .logo__blob h3{
    font-size: 2rem;
    font-weight: bolder;
    color: #000;
    letter-spacing: 1px;
}
h2{
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    margin-top: 2rem;

}
ul{
    display: flex;
    column-gap: 2rem;
    margin: 0;
    padding: 0;
    margin-top: 1.5rem;
}
.social__links ul li{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    cursor: pointer;
    transition: all .3s ease;
}
.social__links ul li:hover{
    background: #000;
    color: #fff;
}
.social__links li i{
    font-size: 1.4rem;
}

.footer__box .category__links li{
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
}
.footer__box .category__links li:hover{
    color: #000;
}
.bottom__footer p{
    font-size: 1rem;
    color: #000;
    font-weight: 600;
}

@media (max-width:1200px) {
    h2{
        font-size: 1rem;
    }
    .social__links ul li{
        width: 30px;
        height: 30px;
    }
    .social__links li i{
        font-size: 1.3rem;
    }
    .footer__box .category__links li{
        font-size: .9rem;
        font-weight: 400;
        cursor: pointer;
    }
    .bottom__footer p{
        font-size: 1rem;
        color: #000;
        font-weight: 500;
    }
}


@media (max-width:970px){
    .one{
        display: none;
    }
    .two{
        display: block;
    }
    .top__footer{
        flex-direction: column;
    }
    .right{
        margin-left: 0rem;
    }
    
    .footer__box ul{
        flex-direction: column;
    }

}